# ====== Unity cachés y builds ======
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
obj/
Debug/
Release/

# ====== Proyectos y binarios generados ======
*.csproj
*.sln
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.vsidx

# ====== Visual Studio ======
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ====== IDEs alternativos ======
.vscode/
.idea/

# ====== Logs ======
Logs/
*.log
*-prev.log

# ====== Configuración del paquete de Code Coverage ======
ProjectSettings/Packages/com.unity.testtools.codecoverage*/

# ====== Ajustes de usuario ======
UserSettings/Layouts/

# ====== Archivos del OS ======
.DS_Store
Thumbs.db
